
/*
 * Author: YOUR NAME
 * Assignment: Minor Project – PROJECT NAME
 * Student ID:
 * Date : YYYY/MM/DD
 * Ref: website link to code referenced or the book, authors name and page number 
 */


/* Water Whys stylesheet 2015 Good Juju */
/* General Styles */
/* Media Queries*/

/* Stack pills for mobile */
@media (max-width: 767px) {
  .nav-pills>li {
    float: none;
  }
}

/* Fonts*/

@font-face {
  font-family: '616';
  src: url('../fonts/616.eot');
  src: local('616'), 
        url('../fonts/616.woff') format('woff'), 
        url('../fonts/616.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v10/DXI1ORHCpsQm3Vp6mXoaTRampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* class to attach font e.g. <p class="ww-fonts">Text with this font applied</p> */
.ww-fonts {
  font-family: '616' !important;
}

/* General Styles */

body {
font-family: "Open Sans",Helvetica,Arial,sans-serif;
font-size: 16px;
line-height: 1.42857143;
color: #333;
background-color: #fff;
}

.row-centered {
  text-align: center;
}

.col-centered {
  display: inline-block;
  float: none;
  text-align: left;
  margin-right: -4px; 

}

.hrule {
  padding-top: 150px;
  color: #33b6b8;
  border: none;
  border-top: double;
}


h1, h2, h3, h4, h5, h6 {
  font-family: '616', Fallback, sans-serif;
  color: #33b6b8;
}
.panel-default>.panel-heading {

  background-color: #8ec6c5;
}

/* 'Navigation' specific styles */


.wn-container {
  /*background-color: #004853;*/
  /*background-image: url("../assets/imgs/wn-background.svg");*/
}

#ww-logo {
  height:90px;
  margin-top: -17px;
}

ul.nav.nav-pills li a {
  color: #fff;
  font-size: 21px;
 }

.nav-pills>li>a {
border-radius: 0;
/*including here to override bootstrap styling*/
}

.nav>li>a:hover, .nav>li>a:focus {
text-decoration: none;
background-color: #ec6a19;
}

.navbar-default {
    background-image: url("../assets/imgs/wn-background.png");
}
.navbar-default .navbar-nav > li > a {

}


/*Menu covering content fix*/
.anchor:before {
  display: block;
  content: " ";
  margin-top: -60px;
  height: 60px;
  visibility: hidden;
}

/* 'Calculator' specific styles */
#ww-calculator .row {
  background-color: #8ec6c5;
  font-family: '616', Fallback, sans-serif;
  color: white;

}

#ww-calculator div.wc-header {
  background-color: #33b6b8;
  text-align: center;
}

#ww-calculator h1, h2 {
  color: white;
}

#ww-calculator div.row {
  border: white solid 1px;
}

#ww-calculator div.wc-stepper {
  text-align: right;
}

#ww-calculator .wc-val {
  padding-right: 5px;
  text-align: right;
  display: inline-block;
  width: 45px;
  color: #004853;
  vertical-align: middle;
}

#ww-calculator span {
  vertical-align: middle;
}

#ww-calculator .glyphicon {
padding: 0;
text-align: center;
 
}

#ww-calculator div.wc-footer {
  background-color: #33b6b8;
  text-align: center;
}

#ww-calculator div.wc-footer {  
  background-color: #ffffff;
  text-align: center;
}

#ww-calculator div.wc-footer h1 {
  color: #1a8080;
}

#wc-result-val {
  color: #dd0020;

}

#wc-accordion {
  text-align: center;
}

.wc-weekly {
  vertical-align: top!important;
  color: #dd0020;
/*  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px;*/

}


/* 'Conservation Tips' specific styles*/

#ww-tips h3 {
  color: #ec6a19;
}

/* 'Resources' specific styles*/

.list-group-item {
position: relative;
display: block;
padding: 10px 15px;
font-size: 16px;
margin-bottom: -1px;
background-color: #fff;
border: none;
}

.panel-default {
border-color: #ddd;
}


/* 'Kids' specific styles*/

#ww-kids  {
  font-family: '616', Fallback, sans-serif;
  color: white;
  font-size: 100%;

}
#wk-quiz {
  background-image: url("../assets/imgs/q-1-bg.svg");
  width: 100%;
  height: 100%;
}

.q-result {
  visibility: hidden;
}



/*#wk-quiz #wq-outside {
  width: 100%;
  position: relative;
}

#wk-quiz #wq-outside #wq-inside {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}*/


div #wq-question {
  color: #004853;
  padding: 0 5px 0 5px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  text-align: center;
  height: 100px;
}

#wq-prev {
  text-align: center;
  padding-top: 50px;
  float: left;
  display: block;
  height: 100px;
  width: 30px;
}

#wq-prev:hover {
  color: #004853;
}

#wq-next {
  text-align: left;
  padding-top: 50px;
  float: left;
  display: block;
  height: 100px;
  width: 30px;
}

#wq-next:hover {
  color: #004853;
}


#wq-qanda {
  text-align: center;
}

#wq-options {
  text-align: left;
}

#wq-bottom {
  text-align: center;
  margin-bottom: 20px;
}

ul#games {


}

ul#games li {
  display: inline;
  padding: 0;
}

ul#games li a {
  background-color: #ec6a19;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  border-radius: 0 0 0 0;
  margin: 5px;
}

ul#games li a:hover {
  background-color: #19b3b8;
}

/* 'About' specific styles*/

 